<?xml version="1.0"?>
<launch>
  <arg name="log_type" default="screen"/>

  <!-- Caster man app -->
  <node pkg="caster_man_app" type="caster_man_app_node" name="caster_man_app_node" output="$(arg log_type)">
    <rosparam file="$(find caster_man_app)/config/caster_man_app.yaml" command="load" />
  </node>
</launch>