<?xml version="1.0"?>
<launch>
  <arg name="log_type" default="screen"/>

  <!-- Robot description -->
  <param name="robot_description" command="$(find xacro)/xacro $(find caster_man_description)/urdf/caster_man_xacro.xacro" />

  <!-- Kinova Jaco v2 -->
  <node name="j2s7s300_driver" pkg="kinova_driver" type="kinova_arm_driver" output="$(arg log_type)" cwd="node" args="j2s7s300">
    <rosparam file="$(find caster_man_bringup)/config/kinova_arm.yaml" command="load" />
    <param name="robot_name" value="j2s7s300" />   
    <param name="robot_type" value="j2s7s300" />
    <remap from="j2s7s300_driver/out/joint_state" to="joint_states"/>
  </node>

  <!-- Realsense -->
  <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
    <arg name="tf_prefix"             value="camera"/>
    <arg name="initial_reset"         value="false"/>
    <arg name="enable_sync"           value="true"/>
    <arg name="align_depth"           value="true"/>
  </include>

  <!-- Aruco detect -->
  <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker_publisher">
    <param name="image_is_rectified" value="True"/>
    <param name="marker_size"        value="0.063"/>
    <param name="reference_frame"    value="camera_color_optical_frame"/>
    <param name="camera_frame"       value="camera_color_optical_frame"/>
    <remap from="/camera_info" to="/color/camera_info" />
    <remap from="/image" to="/color/image_raw" />
  </node>

  <!-- Aruco detect (Single marker)-->
<!--   <node pkg="aruco_ros" type="single" name="aruco_single" output="$(arg log_type)">
    <remap from="/camera_info" to="/color/camera_info" />
    <remap from="/image" to="/color/image_raw" />
    <param name="image_is_rectified" value="True"/>
    <param name="marker_size"        value="0.063"/>
    <param name="marker_id"          value="88"/>
    <param name="reference_frame"    value=""/>
    <param name="camera_frame"       value="camera_color_optical_frame"/>
    <param name="marker_frame"       value="aruco_marker_frame" />
    <param name="corner_refinement"  value="LINES" />
  </node> -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="$(arg log_type)">
    <param name="publish_frequency" type="double" value="30" />
  </node>
</launch>